<section id="about" class="about">
  <!-- Add background elements -->
  <div class="background-animation">
    <div class="circles"></div>
    <div class="grid"></div>
  </div>

  <div class="container">
    <div class="about-photo">
      <img src="assets\images\nour ben jannena2.jpg" alt="Profile Photo">
    </div>
    <div class="about-info">
      <h2>About Me</h2>
      <p>
        I'm a recent Software Engineering graduate from the Higher National Engineering School of Tunis (ENSIT), 
        passionate about Full-Stack Web & Mobile Development. 
        I enjoy building modern, responsive, and user-friendly applications, 
        constantly learning new technologies and exploring new stacks to enhance my skills. 
     </p>
      <div class="resume-buttons">
        <a href="assets\Resume\CV_Nour_benJannena.pdf" target="_blank" class="btn">
          <span>French Resume</span>
          <i class="fas fa-download"></i>
        </a>
        <a href="assets\Resume\Cv_Nour.pdf" target="_blank" class="btn">
          <span>English Resume</span>
          <i class="fas fa-download"></i>
        </a>
      </div>
    </div>
  </div>
</section>