<nav class="navbar">
  <div class="container">
    <div class="logo">Nour Ben Jannena</div>
    <ul class="nav-links">
      <li>
        <a href="#hero">
          <i class="fas fa-home"></i>
          <span class="link-text">Home</span>
        </a>
      </li>
      <li>
        <a href="#about">
          <i class="fas fa-user"></i>
          <span class="link-text">About</span>
        </a>
      </li>
      <li>
        <a href="#skills">
          <i class="fas fa-code"></i>
          <span class="link-text">Skills</span>
        </a>
      </li>
      <li>
        <a href="#projects">
          <i class="fas fa-project-diagram"></i>
          <span class="link-text">Projects</span>
        </a>
      </li>
      <li>
        <a href="#contact">
          <i class="fas fa-envelope"></i>
          <span class="link-text">Contact</span>
        </a>
      </li>
    </ul>
  </div>
</nav>